html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #333;
}

* {
  font-family: Gray;
  box-sizing: border-box;
}

#van {
  position: relative;
  height: 100vh;
  width: 101%;
  margin-left: -10px;
  border-radius: 5px;
}

.polar {
  position: absolute;
  top: 18.4%;
  left: 5%;
  z-index: 4;
  width: 300px;
  height: 300px;
  rotate: -17deg;
}

.polar2 {
  position: absolute;
  top: 20.4%;
  right: -15%;
  z-index: 4;
  width: 600px;
  height: 600px;
  rotate: 20deg;
}

.arrow {
  position: absolute;
  top: 65%;
  left: 5%;
  z-index: 4;
  width: 400px;
  height: 400px;
  rotate: 60deg;
}

nav {
  display: flex;
  justify-content: center;
}

.topnav-right {
  float: right;
}

.topnav {
  background-color: #0f0f0f;
  width: 100%;
  height: 100px;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 5;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav-right a:hover:nth-child(even) {
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgb(255, 115, 115);
}

.topnav a:hover:nth-child(odd) {
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgb(255, 154, 71);
}

#summerHeader {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 45%;
  font-size: 100px;
  z-index: 5;
}

.bg-image {
  /* The image used */
  background-image: url("photographer.jpg");
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glow {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  font-family: Gray;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff04d, 0 0 40px #fff04d, 0 0 50px #fff04d, 0 0 60px #fff04d, 0 0 70px #fff04d;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff04d, 0 0 40px #fff04d, 0 0 50px #fff04d, 0 0 60px #fff04d, 0 0 70px #fff04d, 0 0 80px #fff04d;
  }
}
header {
  border-top: 5px solid rgb(0, 0, 0);
  position: relative;
  top: -5px;
  width: 101%;
  margin-left: -9px;
  border-radius: 5px;
  padding: 10px;
  background-image: url("/images/endless-constellation (1).svg");
}

header h4 {
  text-align: center;
}

@font-face {
  font-family: Grey;
  src: url(/GreyQo-Regular.ttf);
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  height: 800px;
  background-size: cover;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */