//font for page
@font-face {
    font-family: Grey;
    src: url(/GreyQo-Regular.ttf);
}

@font-face {
    font-family: Blue;
    src: url(/Detourne.ttf);
}

html {
    margin:0;
    padding:0;
    overflow-x: hidden;
}

body {
    background-color: #333;
    transition: background-color 0.9s ease;
}

* {
    font-family: Gray;
    box-sizing: border-box;
}

//van picture styling
#van {
    position: relative;
    height: 100vh;
    width: 101%;
    margin-left: -10px;
    border-radius: 5px;
}

//polaroids and arrow placement on top of page
.polar {
    position: absolute;
    top: 18.4%;
    left: 5%;
    z-index: 4;
    width: 300px;
    height:300px;
    rotate: -17deg;
}

.polar2 {
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 4;
    width: 300px;
    height:300px;
    rotate: 20deg;
}

.arrow {
    position: absolute;
    top: 65%;
    left: 5%;
    z-index: 7;
    width: 400px;
    height:400px;
    rotate: 60deg;
}


//nav styling
nav {
    display: flex;
    justify-content: center;
}

.topnav-right {
    float: right;
    margin-top: .8%;
}

.topnav {
    background-color: #0f0f0f;
    // overflow: hidden;
    width: 100%;
    height: 100px;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 5;
    background: transparent;
    transition: background-color 0.3s ease;
}

.topnav a {
    z-index: 10;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-top: .8%;
    margin-right: 2rem;
}

//big summer welcomg styling
#summerHeader {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 100px;
    z-index: 5;
    width: 600px;
}

//blur on van picture
.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

//glow for top left summer word
.glow {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    font-family: Gray;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff04d, 0 0 40px #fff04d, 0 0 50px #fff04d, 0 0 60px #fff04d, 0 0 70px #fff04d;
    }
    
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff04d, 0 0 40px #e0e844, 0 0 50px #fff04d, 0 0 60px #fff04d, 0 0 70px #fff04d, 0 0 80px #fff04d;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff04d, 0 0 40px #fff04d, 0 0 50px #fff04d, 0 0 60px #fff04d, 0 0 70px #fff04d;
    }
    
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff04d, 0 0 40px #fff04d, 0 0 50px #fff04d, 0 0 60px #fff04d, 0 0 70px #fff04d, 0 0 80px #fff04d;
    }
}

//header styling for start of second part of page
header {
    border-top: 5px solid rgb(0, 0, 0);
    position: relative;
    top: -5px;
    width: 101%;
    margin-left: -9px;
    border-radius: 5px;
    padding:10px;
    background-image: url("/images/endless-constellation\ \(1\).svg");
}

header h4 {
    text-align: center;
}

//css for a tags in nav
#button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-left: 2rem;
}

#button-24:hover,
#button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

#button-24:active {
    opacity: .5;
}

/* Slideshow container */

.slide-container{
    left:50%;
    margin-top:20rem;
    transform: translate(-50%, -50%);
    position:relative;
    width:1000px;
    height:550px;
    border: 3px solid #ede6d6;
    box-shadow: 20px 20px 8px 2px rgba(0,0,0,0.2);
    background-color: #ede6d6;
}
.slide-container .slides{
    width:100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
}
.slide-container .slides img{
    width:100%;
    height:100%;
    position: absolute;
    object-fit: cover;
}
.slide-container .slides img:not(.active){
    top: 0;
    left:-100%;
}
span.next, span.prev{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    padding:14px;
    color:#eee;
    font-size:24px;
    font-weight: bold;
    transition:0.5s;
    border-radius: 3px;
    user-select:none;
    cursor:pointer;
    z-index: 1;
}
span.next{
    right:20px;
}
span.prev{
    left: 20px;
}
span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: .8;
    color: #222;
}
@keyframes next1{
    from{
        left:0%;
    }
    to{
        left:-100%;
    }
}
@keyframes next2{
    from{
        left:100%;
    }
    to{
        left:0%;
    }
}
@keyframes prev1{
    from{
        left:0%;
    }
    to{
        left:100%;
    }
}
@keyframes prev2{
    from{
        left:-100%;
    }
    to{
        left:0%;
    }
}

//more polaroid and post it note in gallery and wording under gallery
.post {
    position: relative;
    left: 110%;
    top: -60%;
    rotate: 15deg;
}

.daily {
    position: relative;
    top: -10%;
    left: -70%;
    rotate: -15deg;
}

.subheadingGallery {
    color:#9ab658;
    z-index: 100;
    text-align: center;
    position: relative;
    bottom: 45%;
    font-size: 100px;
    font-family: Blue;
}