//font for page
@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
    font-family: curs;
    src: url(/fonts/AlexBrush-Regular.ttf) format("truetype");
}

//page setup
html {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #DFD0BB;
    transition: background-color 0.9s ease;
}

* {
    font-family: Poppins;
    box-sizing: border-box;
}

//van picture styling
#van {
    position: relative;
    height: 100vh;
    width: 101%;
    margin-left: -10px;
    border-radius: 5px;
    border-bottom: 4px solid #0f0f0f;
}

//polaroids and arrow placement on top of page
.polar {
    position: absolute;
    top: 18.4%;
    left: 5%;
    z-index: 4;
    width: 300px;
    height:300px;
    rotate: -17deg;
}

.polar2 {
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 4;
    width: 300px;
    height:300px;
    rotate: 20deg;
}

.arrow {
    position: absolute;
    top: 65%;
    left: 5%;
    z-index: 7;
    width: 400px;
    height:400px;
    rotate: 60deg;
}


//nav styling
nav {
    display: flex;
    justify-content: center;
}

.topnav-right {
    float: right;
    margin-top: .8%;
}

.topnav {
    background-color: #0f0f0f;
    width: 100%;
    height: 100px;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 5;
    background: transparent;
    transition: background-color 0.3s ease;
}

.topnav a {
    z-index: 10;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 20px;
    margin-top: .8%;
    margin-right: 2rem;
}

//big summer welcomg styling
#summerHeader {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 100px;
    z-index: 5;
    width: 600px;
}

//blur on van picture
.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

//glow for top left summer word
.glow {
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    font-family: Poppins;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff04d, 0 0 40px #fff04d, 0 0 50px #fff04d, 0 0 60px #fff04d, 0 0 70px #fff04d;
    }
    
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff04d, 0 0 40px #e0e844, 0 0 50px #fff04d, 0 0 60px #fff04d, 0 0 70px #fff04d, 0 0 80px #fff04d;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff04d, 0 0 40px #fff04d, 0 0 50px #fff04d, 0 0 60px #fff04d, 0 0 70px #fff04d;
    }
    
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff04d, 0 0 40px #fff04d, 0 0 50px #fff04d, 0 0 60px #fff04d, 0 0 70px #fff04d, 0 0 80px #fff04d;
    }
}

//header styling for start of second part of page
.summerBack {
    background-color: #FFEBD2;
    border-radius: 50%;
    width: 1000px;
    border: 7px solid #FFA364;;
}
//css for a tags in nav
#button-24 {
    background: #943D2C;
    border: 1px solid #943D2C;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-left: 2rem;
}

#button-24:hover,
#button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

#button-24:active {
    opacity: .5;
}

/* Slideshow container */
.info {
    display: none; /* Initially hidden */
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: Poppins;
    white-space: nowrap;
}
.display {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: Poppins;
    white-space: nowrap;
}

.slide-container{
    margin-top: 13rem;
    border-radius: 20px;
    left:50%;
    transform: translate(-50%, -50%);
    position:relative;
    width:1000px;
    height:550px;
    border: 3px solid #ede6d6;
    box-shadow: 20px 20px 8px 2px rgba(0,0,0,0.2);
    background-color: #ede6d6;
}
.slide-container .slides{
    width:100%;
    height: calc(100% - 40px);
    position: relative;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.slide-container .slides img{
    width:100%;
    height:100%;
    position: absolute;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.slide-container .slides img:not(.active){
    top: 0;
    left:-100%;
}
span.next, span.prev{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    padding:14px;
    color:#eee;
    font-size:24px;
    font-weight: bold;
    transition:0.5s;
    border-radius: 3px;
    user-select:none;
    cursor:pointer;
    z-index: 1;
}
span.next{
    right:20px;
}
span.prev{
    left: 20px;
}
span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: .8;
    color: #222;
}
@keyframes next1{
    from{
        left:0%;
    }
    to{
        left:-100%;
    }
}
@keyframes next2{
    from{
        left:100%;
    }
    to{
        left:0%;
    }
}
@keyframes prev1{
    from{
        left:0%;
    }
    to{
        left:100%;
    }
}
@keyframes prev2{
    from{
        left:-100%;
    }
    to{
        left:0%;
    }
}

//more polaroid and post it note in gallery and wording under gallery
.post {
    position: relative;
    left: 110%;
    top: -60%;
    rotate: 15deg;
}

.daily {
    position: relative;
    top: 10%;
    left: -70%;
    rotate: -15deg;
}

.book {
    right: 400px;
    bottom: 3%;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    left: 60%;
    width:300px
}

.paper {
    position: absolute;
    left: 30%;
    width: 200px;
    rotate: -10deg;
    bottom: 10%;
}

.book:hover {
    rotate: 15deg;
    transition: .5s;
}

.boulder {
    position: absolute;
    right: 4%;
    rotate: 15deg;
    height: 350px;
}

//contact section
.formBox {
    padding: 15px;
    text-align: center;
    min-height: 50vh;
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    background: #f8f8f885;
    border-radius: 30px;
    backdrop-filter: blur(10px);
}
h2 {
    margin-bottom: -10px;
    font-family: Poppins;
    font-size: 3em;
}
p {
    font-weight: 500;
    font-size: 2.1em;
    font-family: Poppins;
}
form {
    padding: 10px;
}
form>div {
    padding: 10px;
    position: relative;
    font-size: 1.3em;
}
form>div i {
    position: absolute;
    top: 22px;
    margin-left: 10px;
    opacity: 0.6;
}
form>div input {
    height: 2em;
    width: 70vw;
    padding-left: 40px;
    font-size: 1em;
    border-radius: 20px;
    outline: none;
    border: 1px solid #b5adad;
    background-color: #f1f1f1;
}
div>input:focus {
    border: 1px solid #6f6a6a;
}
form>div:hover>i {
    opacity: 1;
    transition: opacity 1s;
}
textarea {
    border: none;
    width: 70vw;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    font-size: 1em;
}
button {
    width: 50%;
    height: 5vh;
    color: #ffffff;
    background: #943D2C;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    font-family: Poppins;
}

button:hover {
    background-color: #FF4742;
}

.contactBox {
height: 100vh;
width: 100vw;
overflow-y: hidden;
display: flex;
justify-content: center;
align-items: center;
margin-left: -1%;
}

//typing animation
.css-typing p {
    display:none;
    transform: translateX(-50%);
    color:#943D2C;
    z-index: 100;
    text-align: center;
    position: absolute;
    top: 120%;
    left: 50%;
    font-family: Poppins;
    border-right: .15em solid orange;
    font-size: 55px;
    white-space: nowrap;
    overflow: hidden;
    width: 11em;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        border: none;
    }
}
@-webkit-keyframes type {
    0% {
        width: 0;
    }
    99.9% {
        border-right: .15em solid orange;
    }
    100% {
        border: none;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
    }
    @-webkit-keyframes blink {
    50% {
        border-color: tranparent;
    }
}

//classes to make description be gone and come back
.magic {
    display:block;
}
.magic2 {
    display:none;
}

//book styling
.bookContent {
    display: none;
}

.bookContent  .bookWords{
    z-index: 11;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 40%;
    top: 50%;
    text-align: center;
}

.bookContent  .wordRight{
    z-index: 11;
    position: absolute;
    transform: translate(-50%, -50%);
    right: 21%;
    top: 50%;
    text-align: center;
}

.openBook {
width: 1000px;
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 50%;
z-index: 10;
}

.sig1 {
    font-family: curs;
}

//media for smaller screens
@media screen and (min-width:900px) {
    form>div input {
        width: 50vw;
    }
    textarea {
        width: 50vw;
    }
}
@media only screen and (max-width : 1980px) {
    .post {
        position: absolute;
        left: 105%;
        top: 20%;
        rotate: 15deg;
    }
    
    .daily {
        position: absolute;
        top: 60%;
        left: -40%;
        rotate: -15deg;
    }
    .slide-container{
        left:50%;
        transform: translate(-50%, -50%);
        position:relative;
        width:800px;
        height:400px;
        border: 3px solid #ede6d6;
        box-shadow: 20px 20px 8px 2px rgba(0,0,0,0.2);
        background-color: #ede6d6;
    }
    .openBook {
        width: 800px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        z-index: 10;
        }
        .bookContent  .bookWords{
            z-index: 11;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 40%;
            top: 50%;
            text-align: center;
            font-size: 12px;
        }
        
        .bookContent  .wordRight{
            z-index: 11;
            position: absolute;
            transform: translate(-50%, -50%);
            right: 20%;
            top: 50%;
            text-align: center;
            font-size: 12px;
        }
        .book{
            right: 400px;
            bottom: -5%;
            cursor: pointer;
            transition: 0.5s;
            position: absolute;
            left: 60%;
            width:300px
        }
        .css-typing p {
            display:none;
            transform: translateX(-50%);
            color:#943D2C;
            z-index: 100;
            text-align: center;
            position: absolute;
            top: 105%;
            left: 50%;
            font-family: Poppins;
            border-right: .15em solid orange;
            font-size: 45px;
            white-space: nowrap;
            overflow: hidden;
            width: 11em;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        button {
            width: 50%;
            height: 8vh;
            color: #ffffff;
            background: #943D2C;
            outline: none;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1.5em;
            font-family: Poppins;
        }
}